.main{
    margin:50px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin: 15px;
}
.media-left a .media-object{
    width: 50px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}